.root {
  display: inline-flex;
  position: relative;
  background-color: #FFF;
  border: 1px solid var(--input-border);
  color: var(--black);
  box-sizing: border-box;
  padding: 10px 16px;
  border-radius: 4px;

  font-weight: 400;

  *::placeholder {
    color: var(--input-border);
  }
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  flex: 1;
}

.disabled {
  border-color: gray;
  color: gray;
  cursor: not-allowed;
}

.error {
  border-color: var(--error-color);
}