.wrapper {
	position: relative;
	padding: 80px 0;
	background-color: var(--main-gray);

	@media (max-width: 767px) {
		padding: 40px 0;
    width: 100%;
	}
}

.containerWrapper {
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 45px 1fr 45px;

  @media (max-width: 767px) {
    padding: 0;
  }
}

.container {
	margin: 0 auto;
	max-width: var(--main-board-width);
	display: grid;
	grid-template-columns: repeat(3, 380px);
	grid-template-rows: 1fr;
	grid-gap: 20px;

	@media (max-width: 767px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
}

.rightBtn {
	opacity: 0.3;

	&:hover:not(:disabled) {
		opacity: 1;
	}

	@media (max-width: 767px) {
    width: 45px;
    height: 45px;
    position: sticky;
		top: 50%;
    right: 0;
	}
}

.leftBtn {
	opacity: 0.3;
	transform: rotate(180deg);

	&:hover:not(:disabled) {
		opacity: 1;
	}

	@media (max-width: 767px) {
    width: 45px;
    height: 45px;
    position: sticky;
		top: 50%;
    left: 0;
	}
}

